<?xml version="1.0"?>

<model>
  <name>HRI HK STUDIO</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>

  <author>
    <name>Zhiyu Huo</name>
    <email>zhdy7@mail.missouri.edu</email>
  </author>

  <description>
    The studio environment is of a office place.
  </description>
</model>
