<launch>	  
	<include file="$(find gazebo_ros)/launch/empty_world.launch">	    
		<arg name="world_name" value="$(find hri_gazebo_platform)/worlds/livingroom_demo.world"/>	    
		<arg name="gui" value="true"/>	  
	</include>	

	<include file="$(find hri_spatial_language_grounding)/launch/launch_spatial_language_grounding_server.launch" />	      
	
	<node pkg="hri_perception" name="hri_perception_server" type="hri_perception_server_node"/>
	<node pkg="hri_nav" name="hri_nav_server" type="hri_nav_action_server"/>
  
</launch>
